a {
    color: white;
}
.navbar{ 
    text-decoration: none;
    height: 5vh;
    background-color: #f7bfe2;
    display: flex;
    flex-direction: 'row';
    justify-content: space-around;
    font-family: 'Abril Fatface', cursive;
    font-size: 4vh;
    align-items: 'center';
}

.selected {
    text-decoration: none;
    color: black;
}

.allContent {
    height: 84vh;
    /* flex: 1 0 auto; */
}

.footer {
    height: 5vh;
    background-color: #f7bfe2;
    flex-shrink: 0;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }