.link {
    color: #f7bfe2;
    font-weight: bold;
}

.levelOneDiv {
    margin-left: 1em;
    border: 1px solid black;
}

.bullet {
    height: 2%;
    width: 2%;
    padding-right: 2px;
    /* padding-left: 2px; */
}

.row {
    /* padding-left: 2px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paddingDiv {
    padding: 2px;
}
